<div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
    <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('{{url_imagen}}')">
        <button class="p-2 rounded-full bg-black text-white mx-5 -mb-4 hover:opacity-80 focus:outline-none focus:opacity-80">
            <svg class="h-5 w-5 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
        </button>
    </div>
    <div class="px-5 py-3">
        <h3 class="text-black font-bold uppercase mb-2 text-center">{{nombre}}</h3>
        <span class="text-gray-800 m-2 w-full text-left">{{precio}}</span>
    </div>
</div>