<div class="my-8 mx-16">
    <h3 class="text-gray-600 text-3xl font-medium">Más productos</h3>
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
        {{> product/product_view_view url_imagen="imgs/producto1.jpg" nombre="nike jordan" precio="$ 1000.00"}}
        {{> product/product_view_view url_imagen="imgs/producto2.jpg" nombre="nike air" precio="$ 840.00"}}
        {{> product/product_view_view url_imagen="imgs/producto3.jpg" nombre="fossil smart watch" precio="$ 250.00"}}
        {{> product/product_view_view url_imagen="imgs/producto4.jpg" nombre="chamarra mujer" precio="$ 120.00"}}
        {{> product/product_view_view url_imagen="imgs/producto5.jpg" nombre="Calzoneta Lacoste" precio="$ 50.00"}}
        {{> product/product_view_view url_imagen="imgs/producto6.jpg" nombre="traje de baño dior" precio="$ 350.00"}}
        {{> product/product_view_view url_imagen="imgs/producto7.jpg" nombre="Chamarra hombre" precio="$ 60.00"}}
        {{> product/product_view_view url_imagen="imgs/producto8.jpg" nombre="Sombrero Fendi" precio="$ 90.00"}}        
    </div>
</div>