<footer class="flex justify-center px-4 text-white bg-black">
        <div class="container py-6">
            <h1 class="text-center text-lg lg:text-2xl">
                Suscríbete y obten un 20% de descuento en tu primera compra.
            </h1>
            <div class="flex justify-center mt-6">
                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-between md:flex-row">
                        <input type="email" class="m-1 py-2 px-6 appearance-none text-gray-700 text-sm focus:outline-none" placeholder="Su correo electrónico">
                        <button class="w-full m-1 py-2 px-4 text-sm bg-black rounded-lg font-semibold lg:w-auto">Suscribirme</button>
                    </div>
                </div>
            </div>
            <hr class="h-px mt-6 bg-gray-700 border-none">
            <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
                <div>
                    <a href="#" class="text-xl font-bold">LUIR BOUTIQUE</a>
                </div>
                <div class="flex mt-4 md:m-0">
                    <div class="-mx-4">
                      <a href="#" class="px-6 py-2 text-sm">Inicio</a>
                      <a href="#" class="px-6 py-2 text-sm">Producto</a>
                      <a href="#" class="px-6 py-2 text-sm">Categorias</a>
                      <a href="#" class="px-6 py-2 text-sm">Contacto</a>
                  	</div>
                </div>
            </div>
        </div>
    </footer>